<div class="row">
  <div class="col-xs-2">
    <button 
      class="btn btn-primary"
      data-ng-click="updatePercentage(setting, -10)"
    >
    Lower
    </button>
  </div>
  <div class="col-xs-8">
    <progressbar
      class="progress-striped active"
      max="100"
      min="0"
      value="setting.value"
    >
      <b>{{setting.value}}</b>
    </progressbar>
  </div>
  <div class="col-xs-2">
    <button 
      class="btn btn-primary"
      data-ng-click="updatePercentage(setting, 10)">
    Raise
    </button>
  </div>
</div>


